* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
    color: #111827;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: min(1150px, 92%);
    margin: auto;
}


/* HEADER */

.header {
    background: #071a12;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.header-inner {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;
}

.logo b {
    color: #35d47a;
}

.logo-ball {
    font-size: 27px;
}

nav {
    display: flex;
    gap: 28px;
}

nav a {
    color: #d8e3dc;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #35d47a;
}

.menu-btn {
    display: none;
    border: none;
    background: none;
    color: white;
    font-size: 27px;
   
